fastapi
uvicorn
sqlmodel
psycopg2-binary
motor
redis
langchain
langchain-google-genai
langgraph
opencv-python
deepface
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
python-dotenv
chromadb
pandas
jinja2
python-jose
